body {
    background-color: #f0f5f7;
    transition: background-color 1s ease;
    overflow: hidden;
    padding: 0px;
    text-align: center;
    margin: 0px auto;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.captionWrapper {
    width: 100%;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 88vw;
}

#captions {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#caption {
    display: inline;
    color: #f38db2;
    padding: 0 1vw;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
}

#comments {
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: left;
    display: inline;
}

.text {
    position: absolute;
    display: inline;
    text-align: left;
    opacity: 1;
}

mark {
    display: inline;
    background-color: #f0f5f7;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

::-moz-selection {
    color: #f0f5f7;
    background: #f38db2;
}

::selection {
    color: #f0f5f7;
    background: #f38db2;
}